

				body {
				background-color: black;
				}

				header {
				border-style: dashed;
				margin-top: 300px;
				color: White; 
				text-align: center;
				font-size: 50px;
				}

				h3{
				color:#c2c2d6;
				text-align:center;
				}

				h4{
				color:White;
				text-align: center;
				}

				p{
				color:White;
				text-align: center;
				}

				img{
				display: block;
				margin: auto;
				margin-top: 70px;
				width: 200px;
				height: 200px;
				}
